{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur 404</h1>

    <p>
        La page demandée n’a pas pu être localisée. Commander une URL
        faute d’orthographe <a href="{{ path('home') }}">Retour a l'acceuil</a>.
    </p>
{% endblock %}