{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur 403</h1>

    <p>
        La page demandée n’a pas pu être localisée.<a href="{{ path('home') }}">Retour a l'acceuil</a>.
    </p>
{% endblock %}